<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compativle" content="ie=edge">
  <title>My first Vue app</title>  
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="css/dynamicStylingNoCSS.css">
</head>
<body><!-- template tag doesn't get rendered in the DOM
            use a template to group elements you want to show or hide -->
  <div id="app">
      <p v-if="show">You can see me!<span>Hello! </span></p>
      <p v-else>Now you see me!</p>
      <template v-if="show">
          <h1>Heading</h1>
          <p>Inside a template</p>
      </template>
      <p>Do you also see me?</p>
      <button @click="show =!show">Switch</button>
  </div>
  

  <script> 
    var app = new Vue({
      el: '#app',
      data: {          
          show: true    
      }
    });
  </script>
</body>
</html>